footer

    .turnt-container
        .footer-menu
            ul(data-aos="fade-up")
                li
                    a(href="our-story.html") OUR STORY

                li
                    a(href="flavor.html") FLAVOR
                
                li
                    a(href="/") STORE LOCATOR
                
                li
                    a(href="contact") CONTACT

            a(href="#").logo
                img(src="assets/img/turnt-logo.png", alt="logo")

            .social-icons
                a(href="#")
                    i.fab.fa-instagram
        
        p.copy(data-aos="fade-up") © COPYRIGHT 2019 TURNT SAUCE. ALL RIGHTS RESERVED. | 
            a(href="#") TERMS + CONDITIONS

    img.bg-footer-lg(src="assets/img/footer/bg-footer.png", alt="bg-footer")
    img.bg-footer-sm(src="assets/img/footer/bg-footer-mobile.png", alt="bg-footer")


script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/fontawesome.js")
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script.
    AOS.init({
        once: true,
        duration: 700
    });
script(src="assets/js/all.js")