.section-gallery
    .turnt-container
        .turn-gallery-title
            i.fab.fa-instagram
            h2 TURNTSAUCE

        .turnt-gallery
            .pictures(data-aos="fade-up" data-aos-duration="500")
                a(href="#")
                    img(src="assets/img/footer/picture-1.jpg", alt="image")
            
            .pictures(data-aos="fade-up" data-aos-duration="700")
                a(href="#")
                    img(src="assets/img/footer/picture-2.jpg", alt="image")
            
            .pictures(data-aos="fade-up" data-aos-duration="1000")
                a(href="#")
                    img(src="assets/img/footer/picture-3.jpg", alt="image")
            
            .pictures(data-aos="fade-up" data-aos-duration="1200")
                a(href="#")
                    img(src="assets/img/footer/picture-4.jpg", alt="image")
            
            .pictures(data-aos="fade-up" data-aos-duration="1400")
                a(href="#")
                    img(src="assets/img/footer/picture-5.jpg", alt="image")