header
    .turnt-container
        .header-container 
            
            .logo(data-aos="zoom-in" class="")
                a(href="/")
                    img(src="assets/img/turnt-logo.png", alt="logo")
                        
            .social-icons
                a(href="#")
                    i.fab.fa-instagram

            .btn-menu
                div.one
                div.two
                div.three
    

    
    .menu
        .nav-menu
            .logo
                a(href="/")
                    img(src="assets/img/turnt-logo.png", alt="logo")

            ul 
                li 
                    a(href="index.html") Home
                li 
                    a(href="our-story.html") OUR STORY
                li 
                    a(href="flavor.html") FLAVOR
                li 
                    a(href="contact.html") CONTACT

            .social-icons
                a(href="#")
                    i.fab.fa-instagram