<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Our Story | Turnt Sauce
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        link(rel="stylesheet", href="assets/css/aos.css")
        link(rel="stylesheet", href="assets/css/style.css")

        style.
            body {
                background-image: url(assets/img/our-story-bg.svg);
            }

    body.cover-img

        div.turnt-sauce-overflow.cover-img
            //- ========== HEADER ============
            //- ==============================
            include includes/header

            //- ========== MAIN ==============
            //- ==============================
            main#turnt-our-story

                .section-hero
                    .turnt-container
                        img.our-story-title(src="assets/img/our-story/our-story-title.png", alt="title" data-aos="slide-up")
                        img.our-story(src="assets/img/our-story/our-story-bg-full.png", alt="Our Story" )

                        img.cheese(src="assets/img/our-story/cheese-full.png", alt="cheese" data-aos="slide-right")
                        img.chips(src="assets/img/our-story/chips-full.png", alt="chips" data-aos="slide-left")

                .section-story
                    .turnt-container
                        p(data-aos="slide-up") When in Rome, do as the Romans do, when in Austin do queso fundido. In fact, we're currently drafting a proposal for Austin to construct a replica of the trevi fountain that flows queso. The denizens of the city would dip tortilla chips to their heart's content and we would gather in harmony to dream a new fut...Sorry! 
                        p(data-aos="slide-up") We got carried away! Anyway, this queso is our tip of the cap to the spicy queso blanco that define's central Texas's love of cheese. The only catch is that it doesn't have cheese! Yep, you read the ingredients right! It's dairy free. How? Black magic? A genie's wish? We can't comment on those questions, but we'll credit the humble cashew and let you fill in the blanks.
                        p(data-aos="slide-up") Made with natural and organic ingredients, our Cheeze Sauce is an honest take on a traditional creamy queso; without the dairy or extra calories. This dip is perfect for restaurant style tortilla chips, southwestern Mac N’ Cheese and cowboy queso.

                        img.left-chips(src="assets/img/our-story/chips-to-left-full.png", alt="chipss" data-aos="slide-right")
                        img.right-cheese(src="assets/img/our-story/cheese-full.png", alt="cheese" data-aos="slide-left")

                include includes/gallery

            //- ========== FOOTER ============
            //- ==============================
            include includes/footer